div.options{
    margin:10px 30px 0 0;
}
div#canvContainer{
    position: relative;
    width:1000px;
    height:500px;
    clear: both;
}

canvas {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
}

#canv0 {
    z-index:1;
}
#canv1 {
    z-index:0;
}


#nth {
    width:5em;
}
